.myPosts{
  padding: 5px;
}
.addPost{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.textarea{
  max-width: 95%;
  width: 100%;
  border: 1px solid #80bbf1;
  background: #cfe2f3;
  border-radius: 10px;
  height: 70px;
  padding: 10px;
  outline: none;
  resize: none;
}
.btnWrapper{
  display: flex;
  justify-content: center;
  gap: 15px;
  button{
    padding: 10px 17px;
    border-radius: 5px;
    border: none;
    background: #ee37b1;
    color: #ffffff;
    font-size: 15px;
  }
}